@page
@model Photos.Pages.PhotoAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Photo</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="FileUpload" class="form-label"></label><br>
                <input asp-for="FileUpload" class="form-control" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Photo.Title" class="control-label"></label>
                <input asp-for="Photo.Title" class="form-control" />
                <span asp-validation-for="Photo.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Photo.Description" class="control-label"></label>
                <input asp-for="Photo.Description" class="form-control" />
                <span asp-validation-for="Photo.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
