@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="pin-container">
    @foreach (var photo in Model.Photos)
    {
        string imageSrc = "/uploads/" + photo.FileName;
        
        <div class="pin">
            <a asp-page="DisplayPhoto" asp-route-id="@photo.PhotoId"></a>
            <img src="@imageSrc" />
            <div class="pin-caption">
                <img src="~/profiles/jane.jpg" />
                <div>Jane</div>
            </div>
        </div>
    }
</div>
